/*页面初始化样式文件*/
/*清除内外边距  */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div,
img,
input,
p,
ul,
li,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal
}
/*去掉列表前面的小点*/
li {
    list-style: none
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img,
input {
    border: 0;  /*ie6*/
    vertical-align: middle
}
img{
    display: block;
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer
}
/*取消链接的下划线*/
a,button {
    color: #666;
    text-decoration: none
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif;
    outline: none;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font-family:  Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif;
    color: #666
}

.hide,
.none {
    display: none
}
/*清除浮动*/
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

.fl {
    float: left
}

.fr {
    float: right
}
.pr {
    position: relative;
}
