@charset "UTF-8";
/*头部样式*/
.saveMoney_header {
  min-width: 320px;
  width: 100%;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  background-color: #ff841d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.saveMoney_header a:first-of-type {
  width: 12px;
  height: 30px;
  background: url(../images/icon_bar.png) -208px -30px;
}

.saveMoney_header h1 {
  margin: 0;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  letter-spacing: 2px;
}

.saveMoney_header a:last-of-type {
  width: 33px;
  height: 24px;
}

.saveMoney_header a:last-of-type img {
  display: block;
  width: 100%;
}

/*商品详情*/
.commodity_details {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.commodity_details h3 {
  margin: 10px auto 5px auto;
  font-size: 18px;
  font-weight: 800;
  text-align: left;
}

.commodity_details h4 {
  color: #ff6c00;
  display: block;
  font-size: 15px;
}

.commodity_details .info {
  margin: 12px auto;
  font-size: 12px;
  color: #999;
}

.commodity_details .conn {
  padding-bottom: 20px;
  line-height: 24px;
}

.commodity_details .picwrap img {
  width: 120px;
  height: 120px;
}

.commodity_details > a {
  display: block;
  text-align: center;
  background-color: #FF9000;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  line-height: 40px;
}

/*二维码*/
.qr {
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
}

.qr img {
  width: 100%;
}

/*发表评论*/
.comment {
  margin-top: 20px;
}

.comment .tit {
  font-weight: bold;
  margin-bottom: 10px;
}

.comment .comment_box {
  width: 100%;
  height: 200px;
  border: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment .comment_box .comment_box_top {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comment .comment_box .comment_box_bottom {
  width: 100%;
  height: 50px;
  background-color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment .comment_box .comment_box_bottom .comment_box_bottom_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.comment .comment_box .comment_box_bottom .comment_box_bottom_right {
  width: 100px;
  background-color: #FF9000;
  text-align: center;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
}

/*最新评论*/
.new_comment {
  margin-top: 20px;
}

.new_comment .tit {
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new_comment .new_comment_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.new_comment .new_comment_box img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.new_comment .new_comment_box .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
}

.new_comment .new_comment_box .text p:first-of-type {
  font-size: 14px;
  color: aqua;
  font-weight: 200;
}

.new_comment .new_comment_box span {
  font-size: 14px;
  text-align: right;
}

/*底部*/
.footer {
  width: 100%;
  margin-top: 30px;
  background-color: #efefef;
}

.footer .footer_nav {
  width: 100%;
}

.footer .footer_nav > ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
}

.footer .footer_nav > ul > li {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  border-right: 1px solid #c5c5c5;
}

.footer .footer_nav > ul > li a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.footer .footer_nav > ul > li:nth-last-of-type(1) {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  border-right: 0;
}

.footer .footer_download {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  color: #000;
}

.footer .footer_download > a {
  color: #e92322;
}

.footer .footer_download > span {
  color: #5a5a5a;
}
/*# sourceMappingURL=commodity_details.css.map */