.layout{
    width:100%;
    max-width: 640px;
    min-width: 320px;
    background:#f1f1f1;
    margin:0 auto;
    /*头部搜索*/
    .header{
        width:100%;
        height:50px;
        border:2px solid #ff7f27;
        background:#fff;
        box-sizing: border-box;
       form{
           width:100%;
           display: flex;
           input{
           width:100%;
           height:30px;
           margin:8px 10px;
           background:#f1f1f1;
           border-radius:20px;
           padding-left:30px;
           font-size:14px;
           box-sizing: border-box

            
        }
        .btn{
            width:100px;
            height:30px;
            background:#ff841d;
            border:none;
            margin: 8px 10px;
           box-sizing: border-box;
           border-radius:15px;
           font-size:14px;
           color:#fff;
        }
       }
     
    }
    /*头部导航*/
    .header_nav{
        margin-top:10px;
        width:100%;
        box-sizing:border-box;
        background:#fff;
        ul{
            width:100%;
            padding: 5px 0;
            li{
                width:25%;
                float: left;
                padding-top:20px;
               a{
                   width:100%;
                   display:block;
                   font-size:12px;
                   color:#000;
                  text-align: center;
                   img{
                       width:50%;
                       display:inline-block;
                    }
               }
            }
        }
    }
    // 商品详情
    .product{
        width:100%;
        margin-top:10px;
        background:#fff;
        .mmm_title{
            width:100%;
            height:50px;
            line-height: 50px;
            padding-left:10px;
            font-family:"songti";
            color:#fff;
            box-sizing: border-box;
            background:#ff9e20;
        }
        .product-list{
            width:100%;
            display:block;
            margin-top:5px;
            border:1px solid #f1f1f1;
            box-sizing:border-box;
           
            li{
                height:150px;
                padding-top:10px;
                border-bottom:1px solid #ccc;
                position:relative;
                .pic{
                    position: absolute;
                    left:0px;
                    top:18px;
                    img{
                        width:30%;
                    }
                }
                .t-content{
                    display: block;
                    padding-left:133px;
                    font-size:14px;
                    color:#000;
                    position: relative;
                    .momey{
                        color:red;
                    }
                    .jd_title{
                        position:absolute;
                        left:130px;
                        top:92px;
                    }
                    .comment{
                        position:absolute;
                        right:5px;
                        top:92px;
                    }
                }
            }
        }
        .price{
             width:100%;
             line-height: 50px;
            background:#fff;
            padding:5px 10px;
            box-sizing: border-box;
           
            a{
                display:block;
                text-align: center;
                width:100%;
                background: #f7f7f7;
                box-shadow: 2px 2px 2px #eee,-2px -2px 2px #eee;
                font-size:16px;
                color:#000;
              
            }
        }
    }
}